:root {
  --primary-color:		#E3D16A;
  --secondary-color:	#A0B9DB;
  --Accent1-color:		#1281EB;
  --Accent2-color:		#C7E1F5;
  
  --Heading-font:		Russo One;
  --Text-font:		Lato;  
  max-width: 1400px;
}
body {
  max-width: 1400px;
}
h1 {
  font-family: 'Russo One', sans-serif;
  color: #334F64;
  text-align: center;
}
h2 {
  font-family: 'Russo One', sans-serif;
  color: #334F64;
}
p {
  font-family: Lato, sans-serif;
}
nav a {
  text-decoration: none;
}
.hero div {
  position: relative;
}
.hero article {
  position: absolute;
  width: 200px;
  bottom: 5%;
  right: 5%;
  color: rgb(227, 209, 106);
  background-color: rgb(160, 185, 219, .5);
  border-radius: 10px;
  padding: 20px;

}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
.hero article img {
  width: 200px;
  height: auto;
}
.hero h1 {
  position: absolute;
  bottom: 52%;
  right: 50%;
  font-size: 50px;
}