:root {
  --primary-color:		#E3D16A;
  --secondary-color:	#A0B9DB;
  --Accent1-color:		#1281EB;
  --Accent2-color:		#C7E1F5;
  
  --Heading-font:		Russo One;
  --Text-font:		Lato;  
  --max-width: 1400px;
}
body {
  max-width: 1400px;
}
h1 {
  font-family: 'Russo One', sans-serif;
  color: #334F64;
  text-align: center;
}
h2 {
  font-family: 'Russo One', sans-serif;
  color: #334F64;
}
p {
  font-family: Lato, sans-serif;
}
nav a {
  text-decoration: none;
}
#logo {
  border-radius: 25px;
  width: 200px;
  height:  auto;
}
.hero article {
  position: absolute;
  right: 10%;
  left: 10%;
  top: 25%;

  background-color: rgb(227, 209, 106, .5);
  border-radius: 10px;
  padding: 20px;
  text-align:  center;

}
.hero img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.hero article img {
  width: 200px;
  height: auto;
  float: right;
  border-radius: 3px;
}
.hero h1 {
  top: 5%;
  position: absolute;
  right: 10%;
  left: 10%;
  text-align: center;
  font-size: 70px;
}
.hero p {
  font-size: 20px;
}
.hero {
  max-width: 1400px;
  position: relative;
}
