@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Russo+One&display=swap');
:root {
  --primary-color:		#E3D16A;
  --secondary-color:	#A0B9DB;
  --Accent1-color:		#1281EB;
  --Accent2-color:		#C7E1F5;
  
  --Heading-font:		Russo One, sans-serif;
  --Text-font:		Lato, sans-serif;  
  --max-width: 1400px;
}
body {
  max-width: 1400px;
}
h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 0px;
}
h2 {

  font-size: 40px;
}
h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 30px;
}
p, header, .message, .radio_buttons, td, tr {
  font-family: var(--Text-font);
}
h1, h2, h3 {
  font-family: var(--Heading-font);
  color: #334F64;
}
p {
  margin: 0% 1em 1em 1em;
  font-size: 20px;
}
#logo {
  border-radius: 15px;
  width: 100px;
  height:  auto;
  align-self: center;
  justify-self: center;
}
.hero article {
  position: absolute;
  right: 10%;
  left: 10%;
  top: 30%;
  background-color: rgb(227, 209, 106, .5);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.rapids {
  text-align: center;
  width: 100%;
  border-radius: .5rem;
  margin-left: 0%;
}
.rapids button {
  margin-left: 0%;
}
article h2 {
  text-align: left;
  padding-left: 10rem;
}
.hero img {
  display: block;
  width: 100%;
  height: 30rem;
  border-radius: 25px;
}
.hero article img {
  width: 200px;
  height: auto;
  float: right;
  border-radius: 3px;
}
.hero h1 {
  top: 0%;
  position: absolute;
  right: 10%;
  left: 10%;
  text-align: left ;
  font-size: 60px;
  
}
.home_hero h1 {
  top: 10%;
  position: absolute;
  right: 5%;
  left: 10%;
  text-align: right;
  font-size: 40px;
  text-shadow: #334F64 5px 5px 10px;
  color: #E3D16A;
}
.home_hero h2 {
  top: 20%;
  position: absolute;
  right: 10%;
  left: 10%;
  text-align: right;
  font-size: 30px;
  text-shadow: #334F64 5px 5px 10px;
  color: #E3D16A;
}
.home_hero h3 {
  top: 35%;
  position: absolute;
  right: 10%;
  left: 10%;
  text-align: right;
  font-size: 30px;
  text-shadow: #334F64 5px 5px 10px;
  color: #E3D16A;
}
.home_hero button {
  top: 50%;
  position: absolute;
  right: 10%;
  left: 10%;
  text-align: center;
  justify-self: right;
  font-size: 40px;
  text-shadow: #334F64 5px 5px 10px;
  color: #E3D16A;
  font-family: var(--Heading-font);
}
.hero {
  max-width: 1400px;
  position: relative;
}
.home_hero {
  max-width: 1400px;
  position: relative;
}
.home_hero img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.pics img {
  width: 80%;
  height: auto; 
}
header {
	display: grid;
	grid-template-columns: 1fr 2fr;
  border: solid #E3D16A ;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: #E3D16A;
}
nav {
	text-align: right;
  justify-self: end;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}
.navigation a {
	display: block;
	color: #1281EB;
	padding: 20px;
	text-decoration: none;

}
.navigation a:hover {
	color: #A0B9DB;
	font-weight: 700;
	text-decoration: underline;
}
.history {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-content: start;
  text-align: center;
  margin: 5px;
}
#history {
  grid-column: 1/4;
}
.pics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr 3fr 1fr;
  align-items: center;
  text-align: center;
  justify-items: center;
}
#pics {
  grid-column: 1/6;
}
footer {
	display: grid;
	grid-template-columns: 3fr 2fr;
  border: solid #E3D16A ;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: #E3D16A;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.company_info {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  grid-auto-rows: minmax(auto, 1fr);
  padding: 2rem;
  grid-gap: 2rem;
}
.google_map {
  grid-column: 2; 
}
.company_info_label {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 1.5rem;
}
.company_info_data {
  margin: 0px 0px 0px 40px;
}
.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-left: 3rem;
  justify-items: center;
}
.team img, .trip_info img {
  width: 90%;
  height: 90%;
  object-fit: cover; 
  border-radius: .5em;

  object-position: center;
}
.team p {
  border: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
#team {
  padding: 0rem 0rem 2rem 2rem;
}
legend {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: #3b6c91;
  margin-top: 5rem;
  padding-top: 5rem;
  margin-bottom: 2rem;
  font-size: 30px;
  padding-left: 5rem;
}
fieldset {
  border: none;
  color: #3b6c91;
}
.radio_buttons {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 0%;
  margin: 0%;
  border: 0cm;
  margin: 0% 1em 1em 1em;
  font-size: 20px;
}
.radio_buttons input {
  justify-self: right;
  padding-right: 0rem;
  margin-right: .5rem;
}
.radio_buttons label {
  justify-self: left;
}
.message {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  padding: 0%;
  margin: 0%;
  border: 0cm;
  margin: 0% 1em 1em 1em;
  font-size: 20px;
  justify-items: left;
  padding-left: 20rem;
  width: 800px;
  
}
.message label {
  justify-self: left;
  padding-top: 1rem;
}
.message input {
  width: 90%;
  height: auto;
}
.textarea {
  grid-column: 1 / span 2;
}
.message textarea {
  width: 95%;
}
#subscribes {
  justify-self: left;
  padding-left: 0px;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 1.2rem;
}
button:hover {
  background-color: rgb(137, 179, 238);
  color: black;
}
button {
  margin: 1rem;
  width: 150px;
  justify-self: left;
  background-color: rgb(49, 92, 233);
  border-radius: 5%;
  border: none;
  padding: 1rem;
  color: white;
  margin-left: 18rem;
  font-size:medium;
}
.container {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
.reviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: .5fr .2fr 1.5fr .2fr .1fr .1fr ;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-items: center;

}
.reviews img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 5px;
  object-position: center;
}
.column_1, .column_1 img {
  grid-column: 1 / span 2;
  width: 80%;
  height: auto;
}
.column_2 {
  grid-column: 3 / span 2;
  width: 80%;
  height: auto;
}
.column_3 {
  grid-column: 1 / span 4;
  width: 80%;
  height: auto;
}
.trip_name {
  width: 250px;
  padding: 1rem;
}
.trip_desc {
  width: 70%;
  padding: 1rem;
  text-align: left;
}
.trip_info {
  display: grid;
}
.trip_table {
  grid-column: 2 / span 3;
  grid-row: 1 / span 3;
}
.trip_col_1 {
  grid-column: 1;
}