* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
}
header {
    margin: 0 auto;
    width: 600px;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: rgb(4, 4, 40);
    text-align: center;
}
form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    background-color: rgb(237, 241, 247);
    border-radius: 2%;
    border: solid 1px rgb(217, 221, 227);
}
.contact_info {
    display: grid;
    grid-gap: 1em;
    margin: .5rem;
    border: solid rgb(217, 221, 227);
    padding: .5rem;
}
.questions {
    display: grid;
    grid-gap: 1em;
    margin: .5rem;
    border: solid rgb(217, 221, 227);
    padding: .5rem;
}
legend {
    padding: .5rem;
    font-size: 1.3em;
    color: rgb(4, 4, 40);
}
label, input, button, select, textarea {
    font-family: 'Merriweather Sans';
}
input, select, textarea {
    padding: .2rem;
    font-size: 1.1rem;
}
label {
    text-align: right;
    padding-right: 4rem;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
} 
button:hover {
    background-color: rgb(137, 179, 238);
    color: black;
}
button {
    margin: 2rem;
    width: 120px;
    justify-self: center;
    background-color: rgb(49, 92, 233);
    border-radius: 5%;
    border: none;
    padding: 1rem;
    color: white;
}
footer {
    margin: 1rem auto;
    width: 600px;
    text-align: center;
    font-size: 0.8em;
    color: rgb(4, 4, 40);
    padding-top: 10px;
    border-top: 1px solid rgb(217, 221, 227);
}
.form-item {
    display: grid;
    align-items: center;
}
.column1  {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}